# Maven
target/

# SonarQube
.sonar/
sonar/data/es7/
sonar/data/logs/
sonar/data/sonar.mv.db
sonar/data/web/
sonar/extensions/plugins/sonar-erlang-plugin.jar

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
