{erl_opts, [debug_info]}.

{deps,[{elibs,[],{git,"git@github.com:fake/elibs.git",{tag,"1.1.0"}}},
       {estat,"0.0.1",{git,"git@github.com:kake/estat.git",{tag,"0.0.1"}}},
       {malle,[],{git,"git@github.com:lake/malle.git",{tag,"0.7.2-0"}}},
       {moke_ads, "", {git, "git@github.com:hola/moke_ads.git", {tag, "19840221-3"}}},
       {eper,[],{git,"git@github.com:malna/eper.git",{branch,"HEAD"}}}]},
       {meck,[],{git,"git@github.com:should/meck.git",{tag,"0.7.2-0"}}}]},
       {meck, "", {git, "git@github.com:should/meck.git", {tag, "0.7.2-0"}}}]}.
       
{cover_enabled, true}.

{eunit_compile_opts, [{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
