%% a comment
{erl_opts, [debug_info]}.

{deps,[{elibs,[],{git,"git@github.com:fake/elibs.git",{tag,"1.1.0"}}},
       {estat,"0.0.1",{git,"git@github.com:kake/estat.git",{tag,"0.0.1"}}},
       {malle,[],{git,"git@github.com:lake/malle.git",{tag,"0.7.2-0"}}},
       {moke_ads, "", {git, "git@github.com:hola/moke_ads.git", {tag, "19840221-3"}}},
       {eper,[],{git,"git@github.com:malna/eper.git",{branch,"HEAD"}}},
       {meck,[],{git,"git@github.com:should/meck.git",{tag,"0.7.2-0"}}},
       {meck, "", {git, "git@github.com:should/meck.git", {tag, "0.7.2-0"}}},
       {dnssd, "0.*",
         {git, "https://github.com/andrewtj/dnssd_erlang.git", {branch, "master"}}},
       {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git",  "dda4db043a"}},
       {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
       {log4erl, ".*", {svn, "http://log4erl.googlecode.com/svn/trunk/", "HEAD"}},
       {mbcs, ".*", {svn, "http://erlang-mbcs.googlecode.com/svn/trunk/", "54"}}
      ]}.
%% a comment
{cover_enabled, true}.
{cover_export_enabled, true}.
{eunit_compile_opts, [{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
